# build files
Thumbs.db
db.json
*.log
public/

# hidden dirs
.*/
!.github/
!.husky/

# node modules
node_modules/
package-lock.json
yarn.lock

# hexo-theme-archer
_config.*.yml
!_config.archer.yml
themes/*
!themes/archer
