<% if(is_home()) { %>
<footer class="footer-fixed index-footer-fixed">
<% } else { %>
<footer class="footer-fixed">
<% } %>
    <!-- back to top button -->
    <div class="back-top">&#xe639;</div>
</footer>